@font-face {
    font-family: caveat-regular;
    src: url('../fonts/Caveat-Regular.ttf');
}

@font-face {
    font-family: lato-regular;
    src: url('../fonts/Lato/Lato-Regular.ttf');
}

.createRecipe{
    background-image: linear-gradient(
        rgb(255, 255, 255), rgb(255, 255, 255)
    );
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;

    header {
        
        padding:  40px 10px;
        // background-color: black;
        height: 50px;
        display: flex;
        justify-content: space-between;


        #brand {
            font-weight: bold;
            font-size: 18px;
            display: flex;
            align-items: center;

            svg{
                margin: 16px;
                width: 167px;
                // background-color: chocolate;
            }
        }

        nav {

            margin-right: 26px;
            @media (max-width: 768px) {
                display: none;
            }

            ul {
                list-style: none;
                display: flex;
                align-items: center;
                height: 100%;
                justify-content: space-around;
                gap: 25px;
                font-size: 25px;
                font-family: caveat-regular;
                
            }

            a {
                color: rgb(0, 0, 0);
                text-decoration: none;
            }

            li {
                padding: 5px;
                margin-left: 10px;
            }
        }

        #login {
            background-color: #FFD972;
            border-radius: 30px;
            width: 130px;
            height: 42px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            padding: 0;
            /* static drop shadow */
            box-shadow:  2px 7px rgba(0,0,0,0.10);

            a {
                color: #000000;
                text-decoration: none;
                display: inline-block;
                width: 100%;
                text-align: center;
                padding: 12px 0;
            }
        }

        #hamburger-icon {
            margin: auto 0;
            cursor: pointer;
            display: none;

            @media (max-width: 768px) {
                display: block;
            }

            div {
                width: 35px;
                height: 3px;
                background-color: white;
                margin: 6px 0;
                transition: 0.4s;
            }

            &.open {
                .bar1 {
                    transform: rotate(-45deg) translate(-6px, 6px);
                }

                .bar2 {
                    opacity: 0;
                }

                .bar3 {
                    transform: rotate(45deg) translate(-6px, -6px);
                }

                .mobile-menu {
                    display: flex;
                }
            }

            .mobile-menu {
                display: none;
                position: absolute;
                top: 50px;
                left: 0;
                right: 0;
                background-color: black;
                flex-direction: column;
                align-items: center;
                padding: 20px 0;

                li {
                    margin: 10px 0;
                }
            }
        }
    }

 .create-wrapper {
  width: 80%;
  margin: 0 auto;
  padding-top: 60px;
  margin-bottom: 100px;

  .greeting {
    font-family: caveat-regular;
    margin-bottom: 60px;
    font-weight: normal;
  }

  .section {
    margin-bottom: 60px;
    font-family: lato-regular;

    label {
      display: inline-block;
      margin-bottom: 25px;
    }

    input,
    textarea {
      width: 100%;
      border: none;
      border-bottom: 2px solid #000;
      padding: 10px 0;
      outline: none;
      font-size: 14px;
    }

    textarea {
      height: 100px;
      resize: none;
    }

    /* Deeper nests for ingredient/instruction sections */
    &.ingredients-section,
    &.instructions-section {
      input {
        margin-bottom: 40px;
      }

      .input-row {
        display: flex;
        align-items: center;

        input {
          flex: 1;
        }

        .plus-btn {
            color: white;
          margin-left: 15px;
          width: 28px;
          height: 28px;
          border: none;
          border-radius: 50%;
          cursor: pointer;
          background-color: #EFA7A7;
          font-family: caveat-regular;
        }
      }
    }
  }

  /* Buttons inside wrapper */
  .attach-btn {
    padding: 8px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    float: right;
    background-color: #EFA7A7;
    font-family: caveat-regular;
    box-shadow: 0 10px 3px rgba(0,0,0,0.10);
  }

  .create-recipe-btn {
    width: 300px;
    display: block;
    margin: 50px auto;
    padding: 12px 60px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    background-color: #EFA7A7;
    font-family: caveat-regular;
    font-size: 18px;
    box-shadow: 0 10px 3px rgba(0,0,0,0.10);
  }
}
    footer {
        // background-color: darkcyan;
    position: relative;
    z-index: 2;
    font-size: 16px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #3b3b3b;
    font-family: lato-regular;

    .copy{
        margin-left: 10px;
        font-style: italic;
        padding-top:10px ;
    }

    .middle{
        padding-top: 10px;

        a {
      color: #3b3b3b;
      text-decoration: none;
      margin: 0 5px;
      font-style: italic;
      padding: 10px;

      &:hover {
        text-decoration: underline;
      }
    }

    }
    

    

    .socials {
                gap: 30px;
        // background-color: cadetblue;
      svg {
        margin-right: 40px;
        margin-left: 10px;
        cursor: pointer;
      }
    }
}
}